<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button (click)="crash($event)"> Crash </ion-button>
<ion-button (click)="setUser($event)"> Set User </ion-button>
<ion-button (click)="setTags($event)"> Set Tags </ion-button>
<ion-button (click)="setExtra($event)"> Set Extra </ion-button>
<ion-button (click)="clearContext($event)"> ClearContext </ion-button>
<ion-button (click)="captureMessage($event)"> Capture Message </ion-button>
<ion-button (click)="captureException($event)"> Capture Exception </ion-button>
<ion-button (click)="captureBreadcrumb($event)"> Capture Breadcrumb </ion-button>
</ion-content>
